In [1]:
#Example of variable names
myvar = "Diego"
my_var = "Barradas"
print(myvar)
print(my_var)

Diego
Barradas

In [2]:
#Creating Values
x = 19
y = "diego"
print(x)
print(y)

19
diego

In [3]:
#Multiple Values
x, y, z = "Diego", "Barradas", "Anico"
print(x,z,y)

Diego Anico Barradas

In [4]:
#output variables
x = 5
y = 10
print(x + y)

15

In [5]:
#global Variable
x = "classic man "

def myfunc():
  x = "cool"
  print("Diego is " + x)

myfunc()

print("Don is " + x)

Diego is cool
Don is classic man

In [6]:
#strings 
a = "Diego B.!"
print(a[6])

B

In [7]:
a = "Diego A. Barradas"
print(len(a))

17

In [8]:
a = "Barradas"
b = "Diego"
print(a.upper())
print(b.lower())

BARRADAS
diego

In [9]:
#booleans
a = 322
b = 12

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [1]:
#list 
thislist = ["anna", "jaya", "nana", "anne", "joy"]
print(thislist)

['anna', 'jaya', 'nana', 'anne', 'joy']

In [2]:
#replacing/change list
thislist = ["bmw", "lambo", "F1"]
thislist[0] = "mio"
print(thislist)

['mio', 'lambo', 'F1']

In [3]:
#add list by using append ()
#append is used for adding a item at the end of the list

thislist = ["apple", "banana", "cherry"]

thislist.append("cabbage")

print(thislist)

#insert an item to the list with specific index

thislist = ["apple", "banana", "cherry"]
thislist.insert(3, "lemon")
print(thislist)

#extention of the index "extend()"
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

#remove list item
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

['apple', 'banana', 'cherry', 'cabbage']
['apple', 'banana', 'cherry', 'lemon']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['banana', 'cherry']

In [4]:
#loop 
thislist = ["Diego ", "Barradas", "Anico"]
[print(x) for x in thislist]

Diego
Barradas
Anico

[None, None, None]

In [5]:
#list comprehension or new listing
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "n" in x:
    newlist.append(x)

print(newlist)

['banana', 'mango']

In [6]:
#sort list 
#sort list is a method that will sort of alphanumerically, ascending defult
thislist = [120, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 120]

In [7]:
#join list 
#adding two or more list 
list1 = ["Diego", "Anico", "Barradas"]
list2 = ["19"]
list3 = ["balanga lem, Batangas"]
list4 = list1 + list2+list3
print(list4)

['Diego', 'Anico', 'Barradas', '19', 'balanga lem, Batangas']

In [8]:
#Tuples are used to store multiple items in a single variable
thistuple = tuple(("Diego", "Anico", "Barradas"))
print(thistuple)

('Diego', 'Anico', 'Barradas')

In [9]:
#specific index
#negative indexing can be used too
thistuple = tuple(("Diego", "Anico", "Barradas"))
print(thistuple[0])

Diego

In [10]:
#updating tuples
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "grapes"
x = tuple(y)

print(x)

('apple', 'grapes', 'cherry')

In [11]:
#sets 
# Note: the set list is unordered, meaning: the items will appear in a random order.
# Refresh this page to see the change in the result.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}